.job-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 220px;
  box-shadow: 6px 6px 10px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin: 3px;
  max-width: 300px;
  border-radius: 4px;
  padding: 3px;
}

a {
  position: relative;
  z-index: 1;
}

a:hover {
  color: Blue;
}